* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color:var(--light);
}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}


/* header section */

#header{
  margin: 5px;
  padding: 5px;
  height: 40px;
  justify-content: space-between;
}
nav{
  display: flex;
  margin: 10px;
  padding: 5px;
}
nav .logo{
    height: 40px;
    width: 40%;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
nav .logo img{
    height: 38px;
}
nav .logo h2{
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    padding-left: 5px;
}

nav .menu{
    width: 50%;
    margin-left: 30px;
    margin-right:40px;
}
nav .menu ul{
     display: flex;
     margin-left: 20px;
     padding: 5px;
     justify-content: space-around;
}
nav .menu a{
    font-size: 17px;
    padding: 1px;
    text-decoration: none;
    color: var(--dark);
}

nav .search{
    justify-content: center;
    align-items: center;
    padding: 10px;
}
nav .search  img{
    height: 25px;
    width: 25px;
}
nav .slider{
    display: flex;
    padding: 3px;
     width: 30%;
     margin-top: 1px;
     margin-right: 20px;
     margin-left: 5px;
     justify-content: center;
     align-items: center;
     justify-content: space-between;
}
nav .slider img{
    height: 40px;
    width: 40px;
}
nav .slider button{
    text-transform: uppercase;
    font-size: 13px;
    padding: 4px;
    color: #f9fbfd;
    height: 32px;
    text-align: center;
    width: 120px;
    background-color: #fd7e14;
    border: none;
}


/* hero section */

#home{
    margin: 40px;
    display: flex;
    min-height: 500px;
}
#home .hero{
     width: 50%;
     margin: 40px;
     flex-direction: column;
     justify-content: space-between;
}
.hero .hero-heading{
     margin: 40px;
     padding: 10px;
}
.hero .hero-heading h1{
    font-size: 60px;
    margin-left: 30px;
    font-weight: 700;
    width: 100%;
    line-height: 1.3;
}
.hero .hero-heading p{
    margin-top: 30px;
    padding: 1px;
    font-size: 18px;
    width: 100%;
    margin-left: 23px;
}

.hero-image{
    width: 50%;
    margin: 90px;
    padding-right: 50px;
}
.hero-image img{
    height: 380px;

}
.hero-btn{
    height: 100px;
    margin-left: 65px;
}
.hero-btn .btn-1{
    background-color: #fd7e14;
    color: #f8f9fa;
    height: 43px;
    font-weight: 600;
    width: 150px;
    text-align: center;
    border: none;
    font-size: medium;
    margin: 20px;
}
.hero-btn .btn-2{
    background-color:var(--dark);
    color: #f8f9fa;
    height: 43px;
    font-weight: 600;
    width: 150px;
    text-align: center;
    border: none;
    font-size: medium;
    margin: 20px;
}

/* services section */
#services{
    margin: 40px;
}
.services-heading{
     margin: 20px;
}
.services-heading h1{
    text-align: center;
    text-decoration: none;
}
.services-heading p{
    text-align: center;
    margin: 5px;
}
.services-types{
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    padding: 10px;
}
.services-types .Fruits .img{
    padding: 5px;
    height: 60px;
    width: 60px;
}

.services-types .Fruits h2{
    font-weight: 200;
    color: #fd7e14;
}
.services-types .Fruits{
    height: 280px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0.5px  #c5c5c5;
    background-color:var(--light);
    margin: 30px;
    padding: 10px;
    width: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.services-btn{
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.services-btn .services-btn1{
    background-color:var(--dark);
    color: #f8f9fa;
    height: 43px;
    font-weight: 400;
    width: 150px;
    text-align: center;
    border: none;
    font-size: 15px;
    margin: 20px;
}

/* Frouts- list section */
#fresh-fruits{
    margin: 40px;
}
.fresh-f-heading{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.fresh-f-heading h1{
    padding: 1px;
    font-size: 40px;
    font-weight: 700;
}
.fresh-f-heading p{
    text-align: center;
}
.fresh-f-list{
    flex-direction: column;
    justify-content: space-around;
}
.fresh-f-list .fresh-f{
    justify-content: center;
    display: flex;
    margin: 50px;
}
.f-disc{
    width: 60%; 
}
.f-disc .buy-btn{
   margin: 10px;
}
.buy-btn{
    background-color:var(--dark);
    color: #f8f9fa;
    height: 43px;
    font-weight: 400;
    width: 150px;
    text-align: center;
    border: none;
    font-size: 15px;
    margin: 20px;
}
.fresh-f h1{
    margin: 5px;
    font-size: 30px;
    font-weight: 400;
    padding: 1px;
}
.fresh-f p{
    margin: 10px;
    font-size: 18px;
    font-weight: 400;
}
.fresh-f .f-image{
    margin: 20px;
    padding: 1px;
}
.fresh-f .f-image img{
    height: 140px;
    width: 100%;
}
#banner{
    margin-top: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}
.container-fluid{
    background-image: url(./images/tasty-image.png);
    height: 500px;
}
.container-fluid h1{
    color: #fff;
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
}


/* Testmonial section */
#testmonial{
    margin: 40px;

}
.h-test-head{
    margin: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-slider{
      justify-content: center;
      align-items: center;
    margin: 50px;
     height: 100px;
     width: 100%;
}
.card-slider img{
    justify-content: center;
    align-items: center
}
.card-slider h2{
    text-align: center;
}
.h-test-head h1{
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}
.h-test-head p{
    text-align: center;
    text-align: 18px;
    font-weight: 300;
}
.slider-btn{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.slider-btn .left-btn{
    background-color:var(--dark);
    color: #f8f9fa;
    height: 43px;
    border-radius: 50%;
    font-weight: 400;
    width: 45px;
    text-align: center;
    border: none;
    font-size: 15px;
    margin: 20px;
}
.right-btn{
     border-radius: 50%;
    background-color:var(--dark);
    color: #f8f9fa;
    height: 43px;
    font-weight: 400;
    width: 45px;
    text-align: center;
    border: none;
    font-size: 15px;
    margin: 20px;
}

/* contact section */
#contact{
    display: flex;
    margin-left: 80px;
}

.form{
    margin-left: 80px;
    height: 400px;
    width: 60%;
    align-items: center;
}
.form  h1{
     font-size: 40px;
     font-weight: 700;
     margin: 20px;
}
form input{
    height: 40px;
    width: 50%;
    padding: 5px;
    margin: 20px;
    border: none;
   border-bottom: 1px solid black;
}
form .send-btn{
    background-color:var(--orange);
    color: #f8f9fa;
    height: 43px;
    font-weight: 400;
    width: 145px;
    text-align: center;
    border: none;
    font-size: 15px;
    margin: 20px;
}

#contact .image{
    margin-left: 300px;
    margin-right: 0px;
}
.map{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 50px;
    height: 400px;
}
.map .map-responsive{
    margin-bottom: 20px;
}
/* footer section */
#footer{
    margin: 40px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.fruits{
    margin: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.fruits ul{
    list-style-type: none;
    margin: 3px 0px;
}
.services{
    margin: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.services ul{
    list-style-type: none;
    margin: 3px 0px;
}
.list{
    margin: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center; 
}
.list ul{
    list-style-type: none;
    margin: 3px 0px;
}
.media{
    margin-top: 60px;
     margin-right: 40px;
    padding: 5px;
    justify-content: center;
    align-items: center; 
}
.media ul{
    list-style-type: none;
    margin: 3px 0px;
}
#footer h1{
    font-size: 28px;
    font-weight: 400;
}
.media img{
    border-radius: 50%;
    height: 30px;
    margin: 5px;
}
.media input{
    height: 20px;
    padding: 3px;
}
.media button{
    background-color:var(--orange);
    color: #f8f9fa;
    height: 35px;
    font-weight: 400;
    width: 100px;
    border-radius: 4px;
    text-align: center;
    border: none;
    font-size: 15px;
    margin-top: 10px;
}

.copyright{
    padding: 20px;
    background-color: antiquewhite;
}

.copyright h2{
    font-size: 18px;
    font-weight: 200;
    text-align: center;
}

